div.up.bgtransition
  div.upleft
    h1 Project name
  div.upright
    div.people
    <button class="addboard"> Add board </button>
    <button class="button70">
        <i class="strelka"></i>
    </button>