<div class="up">
    <div class="upleft">
    <h1>Project name</h1>
    </div>
    <div class="upright">
    <div class="people"></div>
    <button class="addboard"> Add board </button>
    <button class="button70">
        <i class="strelka"></i>
    </button>
    </div>
</div>