<div id="myModal1" class="modall">
    <div class="modall-content">
    <div class="modall-header">
        <span class="close cls1">&times;</span>
        <h2>Добавление задачи</h2>
    </div>
    <div class="modall-body">
        <p>ворк ин прогресс</p>
        <p>ворк ин прогресс</p>
    </div>
    <div class="modall-footer">
        <h3>Создать</h3>
    </div>
    </div>
</div>