for n2 in n
  div.task
  div.status.srochno
  div.opisanielg
  div.opisaniesh
  div.niz
    div.nizleft
    <div style="width: 2%; margin-right: 10px;">
      div.strelka.elements
    </div>
    div.messages
      <img src="img/comm2.png"  alt="comments" style="height: 100%" class="elements">
    div.wtime
      <img src="img/clock-solid.svg" alt="time" style="height: 80%" class="elements">
      div.txttime.elements 
        p #{n2.task.time}
    div.nizright
    div.peopletsk.elements 6 views