.strelka {
	border-radius: 2px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.bg{
	background-image: url(../img/bg2.jpg);
	background-size: 250%;
	font-family: 'Comfortaa', cursive;
}

.up{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1% 1.5% 1% 1.5%;
}

.upleft{
	justify-content: center;
	text-align: center;
}

.upright{
	display: flex;
	width: 50%;
	justify-content: flex-end;
}
.button70{
	border: 0px;
	border-radius: 10px;
	height: 70px;
	width: 70px;
	background-color: white;
	opacity: .5;
}

.addboard{
	border: 0px;
	border-radius: 10px;
	height: 70px;
	width: 160px;
	background-color: white;
	opacity: .5;
	margin-right: 2%;
}


.down{
	margin: 0 1.5% 0 1.5%;
	display: flex;
	justify-content: space-between;
}

.board{
	border-radius: 10px;
	width: 100%;
	padding-bottom: 5px;
	background: rgba(255, 255, 255, 0.5);
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.board-container{
	width: 31%;
	margin-bottom: 100px;
}

/* tasks */

.addtsk{
	border: 0px;
	border-radius: 10px;
	width: 100%;
	height: 58px;
	background-color: white;
	opacity: .5;
	display: flex;
	justify-content: center;
}

.task{
	border-radius: 10px;
	width: 90%;
	height: 165px;
	background: rgba(255, 255, 255, 0.5);
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.bname{
	width: 90%;
	margin-top: 4%;
}

.opisaniesh{
	border-radius: 10px;
	background: rgba(176, 176, 176, 0.7);
	width: 55%;
	height: 22px;
	margin: 0 3% 3% 5%;
}

.opisanielg{
	border-radius: 10px;
	background: rgba(176, 176, 176, 0.7);
	width: 75%;
	height: 22px;
	margin: 0 3% 2% 5%;
}

.niz{
	margin: 0 3% 3% 3%;
	display: flex;
	justify-content: space-between;
}

.nizleft{
	display: flex;
	justify-content: space-between;
	width: 35%;
	margin-left: 3%;
	height: 30px;
}

.wtime{
	display: flex;
	margin-top: 5px;
}

.checkbox{
	display: flex;	
}
.nizright2{
	width:12%;
	height: 20px;
	display: flex;
}

.elements{
	opacity: 0.65;
}
/*Status*/

.status{
	border-radius: 10px;
	width: 37%;
	height: 22px;
	margin: 5% 0 4% 5%;
}
.srochno{
	background: rgba(255, 98, 98, 0.7);
}

.nesrochno{
	background: rgba(139, 255, 98, 0.7);
}

.med{
	background: rgba(251, 255, 78, 0.7);
}

.supernesrochno{
	background: rgba(98, 123, 255, 0.7);
}

.vipolneno{
	background: rgba(98, 123, 255, 0.7);                                            
}